{% extends "base.html" %}

{% block title %}Dashboard - Sistema Template{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 class="bento-cidade">Bento Gonçalves</h1>
        <p>Veja o que Bento Gonçalves tem a oferecer!</p>
    </div>

   <div class="dashboard-stats">
        <div class="stat-card">
           Bento Gonçalves é uma cidade no estado do Rio Grande do Sul, Brasil, famosa por sua produção de vinhos e belas paisagens da Serra Gaúcha.
            <div class="stat-content">
            </div>  
        </div>
    </div>
   <div class="bento-text">
        <h2 class="titulos">Hospedagem da Região</h2>
    </div>

    <div class="container-bento">
        <div class="hoteis-bento">
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/hotel1.bento.jfif" alt="">
                <figcaption>Pousada Pipas Terroir</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/hotel2.bento.jfif" alt="">
                <figcaption>Döra Experience</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/hotel3.bento.jfif" alt="">
                <figcaption>Budget Farroupilha</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/hotel4.bento.jfif" alt="">
                <figcaption>Hotel Bem-Te-Vi</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/hotel5.bento.jfif" alt="">
                <figcaption>Spa do Vinho Condomínio</figcaption>
            </figure></button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  

        <br>

     <h2 class="pontos">Pontos Turísticos</h2>
        <div class="hoteis-bento">
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/ponto1.jfif" alt="">
                <figcaption>Vale del Vino</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/ponto2.jfif" alt="">
                <figcaption>Parque da Ovelha</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/ponto3.jfif" alt="">
                <figcaption>Parque Temático Epopeia Italiana</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/ponto4.jfif" alt="">
                <figcaption>Pipa Pórtico</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/ponto5.jfif" alt="">
                <figcaption>Vale do Rio das Antas</figcaption>
            </figure></button>
        </div>
    </div>
    
    <h2 class="titulos">Aproveite também as experiências!</h2>
        <div class="hoteis-bento">
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/exp1.jfif" alt="">
                <figcaption>Faça um passeio de maria fumaça!</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/exp2.jfif" alt="">
                <figcaption>Conheça o preparo tradicional do chimarrão</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/exp3.jfif" alt="">
                <figcaption>Piquenique nos vinhedos</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/exp4.jfif" alt="">
                <figcaption>Viva a aventura e adrenalina com voo de balão</figcaption>
            </figure></button>
            <button class="btn-figure" onclick="abrirAlerta()"><figure>
                <img src="../static/images/bento/exp5.jfif" alt="">
                <figcaption>Experiência única no Parque Caminhos da Aventura</figcaption>
            </figure></button>
        </div>
    </div>


{% endblock %}
