{% extends "base.html" %}

{% block title %}Dashboard - Sistema Template{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 class="poa-cidade">Porto Alegre</h1>
        <p>Veja o que a capital gaúcha tem a oferecer!</p>
    </div>

   <div class="dashboard-stats">
        <div class="stat-card">
           Porto Alegre é a capital do estado do Rio Grande do Sul, no Brasil, conhecida por sua alta qualidade de vida, áreas verdes e como um importante centro cultural e econômico da região Sul. 
            <div class="stat-content">
            </div>
        </div>
    </div>
    <div class="poa-text">
        <h2 class="titulos">Hospedagem da Região</h2>
    </div>

    <div class="container-poa">
        <div class="hoteis-poa">
            <figure>
                <img src="../static/images/poa/hotel1.poa.jfif" alt="">
                <figcaption>Hotel Master Cosmopolitan</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/hotel2.poa.jfif" alt="">
                <figcaption>Hotel Continental</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/hotel3.poa.jfif" alt="">
                <figcaption>Plaza São Rafael</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/hotel4.poa.jfif" alt="">
                <figcaption>Double Tree by Hilton</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/hotel5.poa.jfif" alt="">
                <figcaption>Hotel Laghetto Viverone Moinhos</figcaption>
            </figure>
            </figure>
        </div>  

        <br>

     <h2 class="pontos">Pontos Turísticos</h2>
        <div class="hoteis-poa">
            <figure>
                <img src="../static/images/poa/orla.jfif" alt="">
                <figcaption>Orla do Guaíba</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/marioquintana.jfif" alt="">
                <figcaption>Casa de Cultura Mario Quintana</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/memorialrs.jfif" alt="">
                <figcaption>Memorial do Rio Grande do Sul</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/pracamatriz.jfif" alt="">
                <figcaption>Praça da Matriz</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/moinhos.jfif" alt="">
                <figcaption>Parque Moinhos de Vento</figcaption>
            </figure>
                </figure>
        </div>
    </div>
    
    <h2 class="titulos">Aproveite também as experiências!</h2>
        <div class="hoteis-poa">
            <figure>
                <img src="../static/images/poa/arena.jfif" alt="">
                <figcaption>Viva a atmosfera gremista!</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/guaiba.jfif" alt="">
                <figcaption>Veleje pelo Guaíba</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/rdelaboca.jfif" alt="">
                <figcaption>Explore a gastronomia local!</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/theatro.jfif" alt="">
                <figcaption>Assista a um espetáculo no histórico Theatro São Pedro</figcaption>
            </figure>
            <figure>
                <img src="../static/images/poa/iberec.jfif" alt="">
                <figcaption>Entre na arte da cidade</figcaption>
            </figure>
                </figure>
        </div>
    </div>


{% endblock %}
