{% extends "base.html" %}

{% block title %}Dashboard - Sistema Template{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 class="poa-cidade">Porto Alegre</h1>
        <p>Veja o que a capital gaúcha tem a oferecer!</p>
    </div>

   <div class="dashboard-stats">
        <div class="stat-card">
           Porto Alegre é a capital do estado do Rio Grande do Sul, no Brasil, conhecida por sua alta qualidade de vida, áreas verdes e como um importante centro cultural e econômico da região Sul. 
            <div class="stat-content">
            </div>
        </div>
    </div>
    <div class="poa-text">
        <h2 class="titulos">Hospedagem da Região</h2>
    </div>

    <div class="container-poa">
        <!-- SEÇÃO: HOSPEDAGENS (IDs 21 a 25) -->
        <div class="hoteis-poa">
            <a href="{{ url_for('main.detalhe_reserva', tipo='hotel', item_id=11) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/hotel1.poa.jfif') }}" alt="Hotel Master Cosmopolitan">
                    <figcaption>Hotel Master Cosmopolitan</figcaption>
                </figure>
            </a>
            
            <a href="{{ url_for('main.detalhe_reserva', tipo='hotel', item_id=12) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/hotel2.poa.jfif') }}" alt="Hotel Continental">
                    <figcaption>Hotel Continental</figcaption>
                </figure>
            </a>
            
            <a href="{{ url_for('main.detalhe_reserva', tipo='hotel', item_id=13) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/hotel3.poa.jfif') }}" alt="Plaza São Rafael">
                    <figcaption>Plaza São Rafael</figcaption>
                </figure>
            </a>
            
            <a href="{{ url_for('main.detalhe_reserva', tipo='hotel', item_id=14) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/hotel4.poa.jfif') }}" alt="Double Tree by Hilton">
                    <figcaption>Double Tree by Hilton</figcaption>
                </figure>
            </a>
            
            <a href="{{ url_for('main.detalhe_reserva', tipo='hotel', item_id=15) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/hotel5.poa.jfif') }}" alt="Hotel Laghetto Viverone Moinhos">
                    <figcaption>Hotel Laghetto Viverone Moinhos</figcaption>
                </figure>
            </a>
        </div>  

        <br>

        <!-- SEÇÃO: PONTOS TURÍSTICOS (IDs 21 a 25) -->
        <h2 class="pontos">Pontos Turísticos</h2>
        <div class="hoteis-poa">
            <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=21) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/orla.jfif') }}" alt="Orla do Guaíba">
                    <figcaption>Orla do Guaíba</figcaption>
                </figure>
            </a>
            
            <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=22) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/marioquintana.jfif') }}" alt="Casa de Cultura Mario Quintana">
                    <figcaption>Casa de Cultura Mario Quintana</figcaption>
                </figure>
            </a>
            
            <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=23) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/memorialrs.jfif') }}" alt="Memorial do Rio Grande do Sul">
                    <figcaption>Memorial do Rio Grande do Sul</figcaption>
                </figure>
            </a>
            
            <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=24) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/pracamatriz.jfif') }}" alt="Praça Marechal Deodoro (Praça da Matriz)">
                    <figcaption>Praça Marechal Deodoro (Praça da Matriz)</figcaption>
                </figure>
            </a>
            
            <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=25) }}" class="btn-figure">
                <figure>
                    <img src="{{ url_for('static', filename='images/poa/moinhos.jfif') }}" alt="Parque Moinhos de Vento">
                    <figcaption>Parque Moinhos de Vento</figcaption>
                </figure>
            </a>
        </div>
    </div>
    
    <!-- SEÇÃO: EXPERIÊNCIAS (IDs 26 a 30) -->
    <h2 class="titulos">Aproveite também as experiências!</h2>
    <div class="hoteis-poa">
        <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=26) }}" class="btn-figure">
            <figure>
                <img src="{{ url_for('static', filename='images/poa/arena.jfif') }}" alt="Viva a atmosfera gremista!">
                <figcaption>Viva a atmosfera gremista!</figcaption>
            </figure>
        </a>
        
        <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=27) }}" class="btn-figure">
            <figure>
                <img src="{{ url_for('static', filename='images/poa/guaiba.jfif') }}" alt="Veleje pelo Guaíba">
                <figcaption>Veleje pelo Guaíba</figcaption>
            </figure>
        </a>
        
        <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=28) }}" class="btn-figure">
            <figure>
                <img src="{{ url_for('static', filename='images/poa/rdelaboca.jfif') }}" alt="Explore a gastronomia local!">
                <figcaption>Explore a gastronomia local!</figcaption>
            </figure>
        </a>
        
        <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=29) }}" class="btn-figure">
            <figure>
                <img src="{{ url_for('static', filename='images/poa/theatro.jfif') }}" alt="Assista a um espetáculo no histórico Theatro São Pedro">
                <figcaption>Assista a um espetáculo no histórico Theatro São Pedro</figcaption>
            </figure>
        </a>
        
        <a href="{{ url_for('main.detalhe_reserva', tipo='experiencia', item_id=30) }}" class="btn-figure">
            <figure>
                <img src="{{ url_for('static', filename='images/poa/iberec.jfif') }}" alt="Entre na arte da cidade">
                <figcaption>Entre na arte da cidade</figcaption>
            </figure>
        </a>
    </div>
</div>
{% endblock %}