{% extends "base.html" %}

{% block title %}Dashboard - Sistema Template{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 class="gramado-cidade">Gramado</h1>
        <p>Veja o que a cidade mais doce do Rio Grande do Sul tem a oferecer!</p>
    </div>

   <div class="dashboard-stats">
        <div class="stat-card">
         Gramado está situada na Serra Gaúcha, a cerca de 115 km de Porto Alegre, no Rio Grande do Sul. A cidade tem pouco mais de 40 mil habitantes e é considerada um dos destinos turísticos mais importantes do Brasil, recebendo milhões de visitantes todos os anos.   
            <div class="stat-content">
            </div>
        </div>
    </div>
    <div class="gramado-text">
        <h2 class="titulos">Hospedagem da Região</h2>
    </div>

    <div class="container-gramado">
        <div class="hoteis-gramado">
            <figure>
                <img src="../static/images/gramado/gram_ht01.webp" alt="">
                <figcaption>Hotel Valle D’incanto</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/gram_ht02.jpg" alt="">
                <figcaption>Hotel Ritta Höppner</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/gram_ht03.jpg" alt="">
                <figcaption>WoodStone Gramado Hotel</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/gram_ht04.jpg" alt="">
                <figcaption>Exclusive Gramado</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/gram_ht05.webp" alt="">
                <figcaption>Buona Vitta Gramado</figcaption>
            </figure>
            </figure>
        </div>  

        <br>

     <h2 class="pontos">Pontos Turísticos</h2>
             
        <div class="hoteis-gramado">
            <figure>
                <img src="../static/images/gramado/pnt_tur01.webp" alt="">
                <figcaption>Lago Negro</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/pnt_tur02.jpg" alt="">
                <figcaption>Mini Mundo</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/pnt_tur03.jpg" alt="">
                <figcaption>Rua Coberta</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/pnt_tur04.avif" alt="">
                <figcaption>Snowland</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/pnt_tur05.jpg" alt="">
                <figcaption>Museu de Cera Dreamland</figcaption>
            </figure>
                </figure>
        </div>
    </div>
    
    <h2 class="titulos">Aproveite também as experiências!</h2>
        <div class="hoteis-poa">
            <figure>
                <img src="../static/images/gramado/gramadoexp1.jfif" alt="">
                <figcaption>Viva o natal em gramado</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/gramadoexp2.jfif" alt="">
                <figcaption>Se impressione com carros antigos e classicos de Hollywood!</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/gramadoexp3.jfif" alt="">
                <figcaption>Experimente outro nivel de gastronomia</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/gramadoexp4.jfif" alt="">
                <figcaption>Parta para um dos cartões postais da Serra Gaúcha</figcaption>
            </figure>
            <figure>
                <img src="../static/images/gramado/gramadoexp5.jfif" alt="">
                <figcaption>Tire fotos na Rua Torta</figcaption>
            </figure>
                </figure>
        </div>
    </div>
{% endblock %}
